* {
    font-family: 'poppins', sans-serif;
    font-size: 400;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

section{
    position: relative;
    width: 100vw;
    height: 100%;
    line-height: 0;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(to top,black,transparent);
    z-index: 1;
}

.btn {
    position: fixed;
    right: 10%;
    bottom: 20%;
    transform: translate(-50%,50%);
    z-index: 10;
    padding: 1.1em 2.2em;
    margin-right: 50px;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: black;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    box-shadow: 0 2px 0 2px;
    text-decoration: none;
}

.back {
    position: fixed;
    left: 10%;
    bottom: 20%;
    transform: translate(-50%,50%);
    z-index: 10;
    padding: 1.1em 2.2em;
    margin-left: 50px;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: black;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    box-shadow: 0 2px 0 2px;
    text-decoration: none;
}

.btn:before ,
.back:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: red;
    top: 50%;
    transform: skewX(30deg) translate(-150%,-50%);
    transition: all 0.5s;
}

.btn:hover,
.back:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover:before,
.back:hover:before{
    transform: skewX(30deg) translate(150%,-50%);
    transition-delay: 0.1s;
}

#next_2 ,
#next_3 {
    opacity: 0;
}

.test {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: antiquewhite;
    border: 5px solid red;
    z-index: 1;
    width: 100px;
    height: 100px;
}

.box {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.parallax-item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.first {
    background: url("images/m_1.png") center/cover no-repeat;
}

.second {
    background: url("images/re-zero-kara-hajimeru-isekai-seikatsu-sunrise-landscape-wallpaper-preview.jpg") center/cover no-repeat;
}

.third {
    background: url("images/photo-1445905595283-21f8ae8a33d2.jpg") center/cover no-repeat;
}

.p-item1 {
    background: url("images/m_3.png") bottom/cover no-repeat;
    width: 100vw;
    z-index: 2;
}