* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #485461;
    background-image: linear-gradient(315deg, #485461 0% , #28313b);
    font-family: sans-serif;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), #220033), url(background/photo-1445905595283-21f8ae8a33d2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
/* -------
set up zone
---------- */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 80%;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(162, 155, 155, 0.384));
    backdrop-filter: blur(10px);
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 20px auto;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 0;
    /* border: 5px solid green; */
}

.wrapper .self {
    display: flex;
    justify-content: center;
    margin: auto;
}

img.Logo {
    pointer-events: none;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    margin-left: 10px;
}

img.self {
    pointer-events: none;
    width: 400px;
    max-height: 400px;
    max-width: 100%;
    float: center;
    margin-right: auto;
    border: 2px solid #fff;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    box-shadow: 0 15px 30px #333;
}

.rocket {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    max-width: 200px;
    transform: translate(50%) rotate(45deg);
    width: 200px;
    height: 200px;
}

.information li {
    font-family: 'Work sans', sans-serif;
    font-size: 25px;
    padding-top: 25px;
    list-style: none;
    letter-spacing: 2px;
}

.information li::before {
    content: '\21E8';
}

.information li:nth-child(3),
.information li:nth-child(4) {
    font-size: 25px;
}

.information li:first-child {
    margin-top: 20px;
}

.information li:last-child {
    margin-bottom: 80px;
}

.information li:not(:last-child) {
    margin-bottom: 15px;
}


.text-box-information {
    color: #fff;
    border: 5px solid transparent;
    width: 90%;
    margin: auto;
}

.text-box {
    color: black;
}

.text-box h2 {
    font-size: 42px;
    padding-top: 25px;
}

.text-box h3 {
    display: flex;
    border: 1px solid #fff;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

/* -----
Header zone 
--------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

head ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background-color: #fff;
    color: #2b1055;
}