/* .language {
    position: fixed;
    right: 0;
    bottom: 0;
}

input[type=checkbox].toggle {
    display: none;
}

input[type=checkbox].toggle + label {
    display: inline-block;
    height: 60px;
    width: 200px;
    position: relative;
    font-size: 20px;
    border: 4px solid white;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type=checkbox].toggle + label:before {
    position: absolute;
    top: 4px;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3s ease;
}

input[type=checkbox].toggle + label:after {
    width: 140px;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type=checkbox].toggle +label.rounded {
    border-radius: 30px;
}

input[type=checkbox].toggle +label.rounded::before {
    border-radius: 50%;
}

input[type=checkbox].toggle:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

input[type=checkbox].toggle:not(:checked) + label::after {
    content: attr(data-unchecked);
    right: 0;
    left: auto;
    opacity: 1;
    color: white;
}

input[type=checkbox].toggle:not(:checked) + label::before {
    left: 4px;
    background-color: white;
}

input[type=checkbox].toggle:not(:checked) + label.android {
    background-color: white;
    border-color: white;
}

input[type=checkbox].toggle:checked + label {
    text-align: left;
    border-color: white;
}

input[type=checkbox].toggle:checked + label::after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: white;
}

input[type=checkbox].toggle:checked + label::before {
    left: 144px;
    background-color: white;
} */

/* new one */

.switch {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    width: 90px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2ab934;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}