body{
    display: flex;
    background-color: #333;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
}
h1{
    text-align: center;
    margin: 0%;
    font-size: 3rem;
}
:root{
    --width: 40rem;
    --height: 10rem
}
.box{
    background-color: orange;
    height: var(--height);
    width: var(--width);
    overflow: hidden;
    /* transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in; */
    /* transition: background 2s ,width 2s ,border-radius 2s ease-out;  */
    transition: all 1s ease-in;  
}
.box:hover{
    background-color: green;
    width: 80rem;
    height: 20rem;
    /* border-radius: 50%; */
}
.img{
    display: flex;
    width: var(--width);
    height: var(--height);
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
}
.img:hover{
    width: 80rem;
    height: 20rem;
}
.box-1{
    background-color: aqua;
    height: 2px;
    width: 100px;
    align-items: center;
    justify-content: center;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.box-2{
    height: 100px;
    width: 100px;
    background-color: violet;
    position: relative;
    /* animation-name: animate2;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    animation: animate2 5s infinite;
}
@keyframes animate1{
    from{
        width: 100px;
    }
    to{
        width: var(--width);
    }
}

@keyframes animate2{
    0%{
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    25%{
        top: 0;
        left: 300px;
        transform: rotate(90deg);
    }
    50%{
        top: 300px;
        left:300px;
        transform: rotate(180deg);
    }
    75%{
        top: 300px;
        left: 0px;
        transform: rotate(270deg);
    }
    100%{
        top:0;
        left: 0;
        transform: rotate(360deg);
    }
}